html {
  font-size: 62.5%;
}

body {
  //font-family: Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: $m-size;
  background: white;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.input-default {
  width: 100%;
  padding: 10px;
  outline: none;
  border: solid 1px lightgray;
  font-size: 14px;
  font-weight: $light;
}

.default-text-label {
  color: $goodlawyer-black;
  font-size: 14px;
  font-weight: $regular;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.button-big-primary {
  width: 100%;
  background-color: $goodlawyer-green;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: $light;
  outline: none !important;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
}

.button-big-primary.ghost {
  width: 100%;
  background-color: transparent;
  color: $goodlawyer-green;
  border: solid 1px $goodlawyer-green !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: $light;
  outline: none !important;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
}

.nav-side-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 275px;
  background-color:$goodlawyer-green;
  overflow: hidden;
  position:fixed;
  z-index: 9999;
  background-image: url('/assets/SidebarGradient.svg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width:$breakpoint-m){
  /*CONTENT STYLES W/ SIDE NAV*/
  .content-side-nav{
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
  }
}

@media screen and (min-width:$breakpoint-m){
  /*CONTENT STYLES W/ SIDE NAV*/
  .content-side-nav{
      position: absolute;
      left:275px;
      right:0;
      top:0;
      bottom:0;
  }
}