html {
  font-size: 62.5%;
}

body {
  //font-family: Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: $m-size;
  background: white;
}

.sidebar-general {
  position: absolute;
}

.main-content {
position: absolute;
margin-left: 275px;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.input-default {
  width: 100%;
  padding: 10px;
  outline: none;
  border: solid 1px lightgray;
  font-size: 14px;
  font-weight: $light;
}

.default-text-label {
  color: $goodlawyer-black;
  font-size: 14px;
  font-weight: $regular;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.error-text{
  color:$error-color;
  font-size:$s-font;
  font-weight: $light;
  margin-top:5px;
  display: block;
}

.button-big-primary {
  width: 100%;
  background-color: $goodlawyer-green;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: $light;
  outline: none !important;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
}

.button-big-primary.ghost {
  width: 100%;
  background-color: transparent;
  color: $goodlawyer-green;
  border: solid 1px $goodlawyer-green !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: $light;
  outline: none !important;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
}

.default-textarea{
  width:100%;
  min-height: 100px;
  outline:none;
  padding:10px;
  border:solid 1px lightgray;
  font-size: 14px;
  font-weight: $light;
}

.popover{
  z-index: 10000;
}

.popover-body{
  padding:0 !important;
}

.button-popover{
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 200;
  color: $goodlawyer-green;
  display: block;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
}

.button-popover.selected{
  color:white;
  background-color:$goodlawyer-green;
}

.button-popover:hover,.button-popover:active{
  //color:$goodlawyer-green-active;
  background-color: $goodlawyer-grey;
  color: $goodlawyer-green;
}

.button-popover:hover.selected, .button-popover:active.selected{
  color:white;
  background-color:$goodlawyer-green;
}