.nav-side-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    background-color: $goodlawyer-green;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    background-image: url('/src/build/resources/SidebarBG.svg');
    background-size: cover;
    background-position: center;

    .sidebar-links-container {
        padding: 5px;
        padding-left: 10px;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: cyan
            }
        }
    }

    .link-item {
        margin-top: 30px;
    }
}

@media screen and (max-width:$breakpoint-m) {

    /*CONTENT STYLES W/ SIDE NAV*/
    .content-side-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media screen and (min-width:$breakpoint-m) {

    /*CONTENT STYLES W/ SIDE NAV*/
    .content-side-nav {
        position: absolute;
        left: 275px;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
