@media screen and (max-width:$breakpoint-m){
    .nav-side-element {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 275px;
        position: absolute;
        box-shadow: none;
    }

    .nav-side-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 275px;
        background-color: $goodlawyer-green;
        overflow: hidden;
        position:fixed;
        z-index: 9999;

        // for later:
        // transform: translateX(-110%);
        // transition: all .3s;
    }

    // NOT SURE IF NEEDED
    // .nav-side-inner {
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     top: 0;
    //     right: -15px;
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     overscroll-behavior: contain;
    // }
}

@media screen and (min-width:$breakpoint-m){
    .nav-side-element {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 275px;
        position: absolute;
        box-shadow: none;
    }
    
    .nav-side-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 275px;
        background-color:$goodlawyer-green;
        overflow: hidden;
        position:fixed;
        z-index: 9999;
        background-image: url('/assets/SidebarGradient.svg');
        background-size: cover;
        background-position: center;
    }

    // TESTING REMOVALS! =============================

    // .nav-side-inner {
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     top: 0;
    //     right: -15px;
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     overscroll-behavior: contain;
    // }

    // .side-nav-hamburger{
    //     display: none;
    // }

    // .nav-side-screen{
    //     display: none;
    // }
}

.nav-side-link{
    font-size:$m-font;
    color:white;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    width:100%;
    padding:7px;
    font-weight: $light;
    position: relative;
    cursor: pointer;
    padding-right: $m-spacing;
    // padding-left: $m-spacing;    // presumably not needed
}